/***

Navbar

***/

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 60px;
  background: rgba(255, 255, 255, 0.45);

  .nav-link {
    display: flex;

    a {
      padding: 20px;
      font-family: "font2";
      font-size: 0.8rem;
      text-transform: uppercase;
      color: white;

        &:hover {
            background: gainsboro;
            color:black
        }
    }
  }
  .nav-social {
    display: flex;

    a {
      padding: 20px 30px;
      color: white;
        
        &:hover {
            background: gainsboro;
            color: black;
        }
    }
  }
}
