/***

Généralités

***/

$color1: whitesmoke;
$color2: black;

@font-face {
    font-family: "font1";
    src: url(/TP/SASS-TP-1/assets/fonts/Merriweather-Light.ttf);
}
@font-face {
    font-family: "font2";
    src: url(/TP/SASS-TP-1/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    h1 {
        font-family: "font2";
        text-transform: uppercase;
        font-size: 4rem;
        text-align: center;
        color: $color1;
        line-height: 1.5em;
    }
    h2 {
        font-family: "font2";
        text-transform: uppercase;
        font-size: 2.5rem;
    }
}

body {
    background: url(/TP/SASS-TP-1/assets/img/bg.jpg) fixed center/cover;
}

.rm-button {
    display: block;
    font-family: "font2";
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 180px;
    text-align: center;
    color: black;
    margin: 40px auto;
    border: 0.80px solid black;
    padding: 10px 30px;
    transition: 0.3s;

    &:hover {
        background: black;
        color: white;
    }
}


