/******



******/

@font-face {
    font-family: "ubuntu";
    src: url(/Assets/Fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: "ubuntu-bold";
    src: url(/Assets/Fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: "ubuntu-mono";
    src: url(/Assets/Fonts/UbuntuMono-Regular.ttf);
}

:root {
    /* -- Couleurs -- */
    --color-1: #fa7b6c;
    --color-2:  #0042b0;
    --color-3:  #0042b0;
    --color-4:  #717597;
    --color-5:  #ebeeff;
    --color-6: #2f4858;
    /* -- Menu -- */
    --height-menu: 80px;
}


/****** Généralités ******/

* {
    margin: 0;
    padding: 0;
    font-family: "ubuntu", sans-serif ;
    /*border: 0.5px solid red;*/
}

body {
    font-family: "ubuntu", sans-serif;
    background-color: var(--color-6);
}

h1 {
    font-family: "ubuntu-bold", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 10px 0;
    
}

h2 {
    font-family: "ubuntu-bold", sans-serif;
    font-size: 2rem;
    margin: 10px 0;
}

h3 {
    font-family: "ubuntu-bold", sans-serif;
    font-size: 1.5rem;
    margin: 10px 0;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}


code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: var(--color-3);
}


/****** Navigation ******/

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: var(--height-menu);
    background: var(--color-5);
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 4rem;
}

nav a {
    color: var(--color-1);
    padding: 5px;
}
.nav-1 > a {
    font-size: 1.2rem;
    letter-spacing: 0.2em;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    width: 70%; 
}
nav > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s;
} 

@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    } 
}

.nav-1:hover a i {
    animation: rotationFleche 0.3s linear forwards;
}

.nav-1 i {
    font-size: 0.9rem;
}

.nav-1 {
    position: relative;
}

.nav-2 {
    display: none;
    position: absolute;
    background:var(--color-5);
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 6px 16px -4px rgba(250,123,108,0.73);
    width: 100%; 
    padding: 10px 5px 5px;
    line-height: 1.5rem;
}

nav > ul > li:hover .nav-2 {
    display: block;
    top: 80px;
   
}
.nav-2 > li > a:hover {
    background-color: var(--color-1);
    color: white;
}

nav li {
    list-style-type: none;
}

/****** -- Main -- ******/

main {
    background: white;
    width: 80%;
    margin: 40px auto;
    padding: 20px;
}

main li {
    margin: 0 20px;
    list-style-type: "\2714";
    line-height: 2em;
}

main a {
    color: var(--color-1);
}


main a:visited {
    color: var(--color-2);
}

main img {
    max-height: 200px;
    border-radius: 10px;
}

.text-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/*** -- page d'accueil -- ***/

.accueil-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 100px);
    gap: 100px;
    width: 50%;
    margin: 0 auto 0;
}
.accueil-main div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.accueil-main div svg{
    height: 80px;
    fill: #fa7b6c;
}










