/***

SETTINGS

***/

@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

$font1: "Allura", cursive;
$font2: "Poppins", serif;
$font3: "Roboto", serif;
$color1: #eee;
$color2: #21201e;
$color3: rgb(182, 182, 182);
$color4: rgb(166, 114, 69);

@mixin childcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin alignchildren($space) {
  display: flex;
  align-items: center;
  justify-content: $space;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  text-align: center;
  font-family: $font3;
  background: $color2;
}
